<h1>Work Calendar</h1>
<div id="loginDiv">
<form action="/login/" method="LOGIN" autocomplete="off">
    Username: <input type="text" name="username">
    <br> <br>
    Password: <input type="password" name="password">
    <br> <br>
</form>
</div>